@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
body, html {
  background-color: #020202;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#app {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #ffffff;
}

#app::before {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #020202;
  z-index: -9999;
}

.flex-space {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  color: #ffffff;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
  outline-style: none;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: fixed;
  background-color: #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 50px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  height: 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 9999;
}

.header .title-conatainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title-conatainer .title {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.header .title-conatainer .subtitle {
  font-size: 12px;
  margin: 0;
  padding: 0;
  opacity: 0.6;
}

.header-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-link {
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  margin: 0;
  min-width: 80px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}

.header-link:hover {
  opacity: 0.4;
}

.header .header-link-acitve {
  opacity: 0.5;
}

.porject-view-container {
  width: 100%;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-columns: (33.33333%)[3];
      grid-template-columns: repeat(3, 33.33333%);
  -ms-grid-rows: (auto)[auto-fit];
      grid-template-rows: repeat(auto-fit, auto);
}

.porject-view-container .project-view {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.porject-view-container .project-view .cover {
  width: 100%;
  background-color: #020202;
}

.porject-view-container .project-view .hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.porject-view-container .project-view .hover:hover {
  opacity: 1;
}

.porject-view-container .project-view .title {
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.porject-view-container .project-view:hover .title {
  opacity: 1;
}

.porject-view-container .empty-list-message {
  text-align: center;
  padding: 100px 0;
  opacity: 0.5;
}

.about-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1200px;
}

.about-container h1 {
  font-size: 30px;
  padding: 0;
  margin-bottom: 10px;
}

.about-container p, .about-container li {
  font-size: 20px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

.about-container .draw-view {
  margin: 30px;
}

.about-container .description {
  text-align: justify;
}

.about-container .experience-year-container {
  margin-bottom: 20px;
}

.about-container .experience-year-container ul {
  margin: 0px 0;
}

.project-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1200px;
}

.project-container .project-text-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 80px 0;
  padding: 0;
}

.project-container .project-text-container.project-view-title {
  margin: 80px 0 0 0;
}

.project-container .project-text-container h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.project-container .project-text-container p {
  font-size: 20px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

.project-container .project-text-container .credit-list p {
  font-size: 16px;
}

.project-container .background-video {
  margin: 20px 0;
}

.video-container {
  position: relative;
  width: 1200px;
  height: 675px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-c2 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (auto)[auto-fit];
      grid-template-rows: repeat(auto-fit, auto);
}

.grid-c2 .background-video {
  margin: 0;
}

.split-line {
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 30px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 100px 0 0;
  }
  .project-container {
    width: 100%;
  }
  .project-container .project-text-container {
    margin: 40px 0;
    padding: 0 20px;
  }
  .project-container .background-video {
    margin: 10px 0;
  }
  .header {
    padding: 0 10px;
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .title-conatainer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .flex-space {
    display: none;
  }
  .porject-view-container {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: (auto)[auto-fit];
        grid-template-rows: repeat(auto-fit, auto);
  }
  .porject-view-container .project-view .hover {
    opacity: 1;
  }
  .porject-view-container .project-view .title {
    opacity: 1;
  }
  .about-container {
    padding: 0 20px;
  }
  .about-container .draw-view {
    margin: 0;
  }
  .video-container {
    width: 100%;
    height: calc(100vw/16*9);
  }
  .grid-c2 {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: (auto)[auto-fit];
        grid-template-rows: repeat(auto-fit, auto);
  }
  .grid-c2 .background-video {
    margin: 0;
  }
  .row.m-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m-hide {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */